h1 {
    text-align: center;
    color: #eee;
    font-size: 28px;
    padding: 20;
    margin: 10;
    line-height: 1.5;
}
.myName {
    text-align: center;
    line-height: 1.5;
    color: #eee;
}
#main-bio {
    font-size: 20px;
    line-height: 1.5;
}
#contact {
    float:left;
    line-height: 1.5;
}
.container {
    margin: 50;
    line-height: 1.5;
}
#main-bio {
    float: left;
    width: 70%;
    line-height:1.5
}
#contact-info {
    float: left;
    width: 30%;
    line-height: 1.5;
}
#bio-image {
    height: 150px;
    width: 200px;
    float: left;
    margin: 50px;
}
body {
    background-color: #efeee7;
    font: Georgia, "Times New Roman", Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.header {
    background-color: #333333;
    line-height: 1.5;
}
h2 {
    font-size: 24px;
    line-height: 1.5;
}
a {
    color: #d21034;
}